<% if @payment_method.persisted? && (@payment_method.preferred_api_key.blank? || @payment_method.preferred_api_secret.blank?)
    missing_preferece = [
        (Spree.t('api_key') if @payment_method.preferred_api_key.blank?),
        (Spree.t('api_secret') if @payment_method.preferred_api_secret.blank?),
      ].compact.to_sentence(locale: I18n.locale)
  %>
  <div class="errorExplanation align-center">
    <span class="fa fa-exclamation-circle"></span>
      <%= Spree.t('klarna.specify_credentials', missing_preferece: missing_preferece) %>
  </div>
<% end %>
