<% if @order.payments.klarna_credit.any? %>
  <style type="text/css">
    .align-center {
      width: 100%;
      text-align: center;
    }

    .hiddden {
      display: none;
    }
    .loader {
        border: 5px solid #f3f3f3;
        border-top: 5px solid #00ADEE;
        border-radius: 50%;
        width: 15px;
        height: 15px;
        display: inline-block;
        margin: 0 5px;
        animation: spin 1.5s linear infinite;
    }

    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }
  </style>

  <div class="klarna_credit_box"
    data-order-id="<%= @order.number %>"
    data-order-session-id="">
  </div>

  <div class="clear"></div>
  </br>

  <script type="text/javascript">
    $.fn.klarnaReauthorize = function(options) {
      var settings = $.extend({
        submitButton: null,
        orderId: null,
        sessionUrl: Spree.url("/klarna/session")
        loader: $('<div class="loader"></div>')
      }, options);

      if (!settings.orderId && this.data('orderId') !== undefined) {
        settings.orderId = this.data('orderId');
        settings.paymentUrl = Spree.url("/checkout/payment")
      }

      if (settings.submitButton) {
        settings.submitButton.attr('disabled', true).removeClass('primary').addClass('gray');
        settings.submitButton.after(settings.loader);
      }

      var updateSession = function(response) {
        return $.ajax({
          method: 'POST',
          url: settings.updateSessionUrl,
          dataType: 'json',
          data: {token: response.authorization_token}
        }).done(function() {
          if (response.approved) {
            settings.submitButton.attr('disabled', false).addClass('primary').removeClass('gray');
            settings.loader.hide();
          } else {
            window.location.assign(settings.paymentUrl)
          }
        });
      }

      // Get a session from the backend and load the form
      var getSession = function () {
        if (settings.clientToken) {
          return;
        }
        $.ajax({
          method: 'GET',
          url: settings.sessionUrl,
          dataType: 'json'
        }).done(function(response) {
          if (response.status) {
            Klarna.Credit.init ({
              client_token: response.token
            });

            delete response.data.merchant_urls;

            Klarna.Credit.reauthorize(response.data, updateSession);
          } else {
            window.location.assign(settings.paymentUrl)
          }
        });
      }

      getSession();
    }

    var addKlarnaCreditLoad = function() {
      $(document).ready(function() {
        $(".klarna_credit_box").klarnaReauthorize({
          submitButton: $("form#checkout_form_confirm input[type='submit']")
        });
      })
    }

  </script>
  <script type="text/javascript" id="klarna­credit­lib­x">
  /* <![CDATA[ */
   (function(w, d) {
     var url = 'https://credit.klarnacdn.net/lib/v1/api.js';
      n = d.createElement('script');
      c = d.getElementById('klarna­credit­lib­x');
      n.async = !0;
      n.src = url + '?' + (new Date ()).getTime();
      c.parentNode.replaceChild(n, c);
      // klarna-gateway: wait until this file is loaded
      n.onload = addKlarnaCreditLoad;
    })(this, document);
   /* ]]> */
  </script>
<% end %>
