---
http_interactions:
- request:
    method: post
    uri: https://api-na.playground.klarna.com/credit/v1/sessions
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <ENCODED_AUTH_HEADER>
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      Klarna-Correlation-Id:
      - 5ae32666-f808-48a4-85be-ba50c9cca838
      Render-Time:
      - '29'
    body:
      encoding: UTF-8
      string: |-
        {
          "error_code" : "BAD_VALUE",
          "error_messages" : [ "Bad value: order_amount, purchase_country, order_lines, purchase_currency" ],
          "correlation_id" : "5ae32666-f808-48a4-85be-ba50c9cca838"
        }
  recorded_at: Mon, 31 Jul 2017 15:40:19 GMT
recorded_with: VCR 3.0.3
