---
http_interactions:
- request:
    method: post
    uri: https://api-na.playground.klarna.com/credit/v1/sessions
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <ENCODED_AUTH_HEADER>
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      Klarna-Correlation-Id:
      - 58944229-d6f7-43c1-9d48-73167e95afde
      Render-Time:
      - '2'
    body:
      encoding: UTF-8
      string: |-
        {
          "error_code" : "BAD_VALUE",
          "error_messages" : [ "Bad value: order_amount, purchase_currency, order_lines, purchase_country" ],
          "correlation_id" : "58944229-d6f7-43c1-9d48-73167e95afde"
        }
  recorded_at: Fri, 25 Aug 2017 09:39:29 GMT
recorded_with: VCR 3.0.3
