---
http_interactions:
- request:
    method: post
    uri: https://api-na.playground.klarna.com/credit/v1/sessions
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic MTIzOjEyMw==
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - text/html
      Www-Authenticate:
      - Basic realm="very closed site"
    body:
      encoding: UTF-8
      string: "<html>\r\n<head><title>401 Authorization Required</title></head>\r\n<body
        bgcolor=\"white\">\r\n<center><h1>401 Authorization Required</h1></center>\r\n<hr><center>openresty</center>\r\n</body>\r\n</html>\r\n"
  recorded_at: Fri, 25 Aug 2017 09:39:29 GMT
recorded_with: VCR 3.0.3
