<tr>
  <td><strong><%= Spree.t(:rejected_klarna_payments) %>:</strong></td>
  <td class="align-center">
    <span class="<%= @order.payments.klarna_risky.count > 0 ? 'state void' : 'state complete' %>">
      <%= link_to Spree.t(:payments_failed_count,
                          count: @order.payments.klarna_risky.count),
                          spree.admin_order_payments_path(@order) %>
  </span>
  </td>
</tr>
